<main class="container">
  <div id="BootstrapSizeDisplay" style="display: none;">
      <div class="w-100 container-fluid d-none d-sm-none d-md-none d-lg-none d-xl-none d-xxl-block "
           style="background-color: yellow;color: black;font-size: 20px;margin-bottom: 20px;">extra extra large - xxl</div>

      <div class="w-100 container-fluid d-none d-sm-none d-md-none d-lg-none d-xl-block  d-xxl-none "
           style="background-color: red;color: white;font-size: 20px;margin-bottom: 20px;">extra large - xl</div>

      <div class="w-100 container-fluid d-none d-sm-none d-md-none d-lg-block d-xl-none "
           style="background-color: blue;color: white;font-size: 20px;margin-bottom: 20px;">large - lg</div>

      <div class="w-100 container-fluid d-none d-sm-none d-md-block d-lg-none d-xl-none "
           style="background-color: darkorange;color: white;font-size: 20px;margin-bottom: 20px;">medium - md</div>

      <div class="w-100 container-fluid d-none d-sm-block d-md-none d-lg-none d-xl-none "
           style="background-color: green;color: white;font-size: 20px;margin-bottom: 20px;">small - sm</div>

      <div class="w-100 container-fluid d-block d-sm-none d-md-none d-lg-none d-xl-none "
           style="background-color: rebeccapurple;color: white;font-size: 20px;margin-bottom: 20px;">extra small - <i>none</i></div>
  </div>

<app-noticeform></app-noticeform>

<router-outlet />

</main>
